<h1 class="green">Homepage</h1>

<%= link_to "Start a chatroom", new_chatroom_path, class: "green" %>

<br/><br/>

<% @chatrooms.each do |chatroom| %>
  <h2><%= link_to chatroom.name, chatroom_path(chatroom), class: "green" %></h2>
  <br/>
<% end %>
