<div class="page-content">
  <h3 class="green">Homepage</h3>

  <h3><%= link_to "Start a chatroom", new_chatroom_path, class: "green" %></h3>

  <br/><br/>

  <% @chatrooms.each do |chatroom| %>
    <h3><%= link_to chatroom.name, chatroom_path(chatroom), class: "green" %></h3>
    <br/>
  <% end %>

</div>
