<div class="page-content">
  <h1>New chatroom page</h1>

  <%= simple_form_for @chatroom, url: chatrooms_path do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Start', class: 'btn btn-primary make-it-green' %>
  <% end %>

</div>
