<div class="green page-content">
  <h1>Chatroom show page</h1>

  <h3><%= link_to "Home page", root_path, class: "green" %></h3>

  <h3><%= @chatroom.name %></h3>

  <%= react_component("Comments", { root_with_chatroom_id: polymorphic_url(@chatroom), chatroom: @chatroom }) %>
</div>
