@import "bootstrap/scss/bootstrap";

.green {
  color: #00C122;  
}

.cursor:hover {
  cursor: pointer;
}

.page-content {
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  h3 {
    font-size: 50px;
  }
}
 