@import "bootstrap/scss/bootstrap";

.green {
  color: #00C122;  
}

.cursor:hover {
  cursor: pointer;
}

.page-content {
  margin-left: 20px;
}

body {
  text-rendering: optimizeLegibility;
}

// @media screen and (max-width: 1000px) {
//   h3 {
//     font-size: 50px;
//   }
// }
 